# OBJECTIVE:Deal with activities which overlap w.r.t timestamps in report

In [1]:
import pandas as pd
import datetime as dt
import numpy as np
import time

In [21]:
smart_glasses=pd.read_csv("glasses.csv")
smart_watch=pd.read_csv("smartwatch.csv")
smart_phone=pd.read_csv("smartphone.csv")
report=pd.read_csv("report.csv")

In [22]:
smart_glasses=smart_glasses.rename(columns={'DATE':'TIMESTAMP'})
smart_watch=smart_watch.rename(columns={'timestamp':'TIMESTAMP'})
smart_phone=smart_phone.rename(columns={'timestamp':'TIMESTAMP'})
report=report.rename(columns={'from':'FROM','to':'TO'})

In [23]:
smart_phone.TIMESTAMP =pd.to_datetime(smart_phone.TIMESTAMP)
smart_glasses.TIMESTAMP=pd.to_datetime(smart_glasses.TIMESTAMP)
smart_watch.TIMESTAMP=pd.to_datetime(smart_watch.TIMESTAMP)
report.FROM=pd.to_datetime(report.FROM)
report.TO=pd.to_datetime(report.TO)

In [24]:
l1=[]
for i in range(0,len(report)):
    l1.append([report.loc[i,'FROM'],report.loc[i,'TO']])
# l1=pdf1['from'].tolist()
s1=pd.Series(l1)
report['FROM_TO']=s1
report.head(3)

,index,activity_type,duration,FROM,TO,comment,FROM_TO
0,0,Video games,01:43,2017-07-01 21:34:00,2017-07-01 23:17:00,NaN,"[2017-07-01 21:34:00, 2017-07-01 23:17:00]"
1,1,In computer,00:03,2017-07-01 21:29:00,2017-07-01 21:32:00,NaN,"[2017-07-01 21:29:00, 2017-07-01 21:32:00]"
2,2,At home,13:35,2017-07-01 21:13:00,2017-07-02 10:49:00,NaN,"[2017-07-01 21:13:00, 2017-07-02 10:49:00]"

In [6]:
print("\n       SMARTGLASS\n\n")
print(smart_glasses.head(2))
print("\n       SMARTWATCH\n\n")
print(smart_watch.head(2))
print("\n       SMARTPHONE\n\n")
print(smart_watch.head(2))
print("\n       REPORT\n\n")
print(report.head(2))

       SMARTGLASS


   NUM               TIMESTAMP  ACC_X  ACC_Y  ACC_Z  GYRO_X  GYRO_Y  GYRO_Z  \
0    1 2017-06-29 08:00:00.406  -3242  10396  -6489    9117    2018    -819
1    3 2017-06-29 08:00:00.426  -4014  11348 -15131    3359    -882   -2009

   EOG_L  EOG_R  EOG_H  EOG_V
0   -330   -186   -144    258
1   -305   -156   -149    230

       SMARTWATCH


    index         source               TIMESTAMP  \
0  164349        battery 2017-06-29 07:45:56.262
1  164350  accelerometer 2017-06-29 07:46:01.263

                                     values
0                                    ['98']
1  ['-0.3440857', '0.68330383', '9.967361']

       SMARTPHONE


    index         source               TIMESTAMP  \
0  164349        battery 2017-06-29 07:45:56.262
1  164350  accelerometer 2017-06-29 07:46:01.263

                                     values
0                                    ['98']
1  ['-0.3440857', '0.68330383', '9.967361']

       REPORT


   index activity_type duration                FROM                  TO  \
0      0   Video games    01:43 2017-07-01 21:34:00 2017-07-01 23:17:00
1      1   In computer    00:03 2017-07-01 21:29:00 2017-07-01 21:32:00

  comment                                     FROM_TO
0     NaN  [2017-07-01 21:34:00, 2017-07-01 23:17:00]
1     NaN  [2017-07-01 21:29:00, 2017-07-01 21:32:00]

In [7]:
print("\n       SMARTGLASS\n\n")
print(smart_glasses.dtypes)
print("\n       SMARTWATCH\n\n")
print(smart_watch.dtypes)
print("\n       SMARTPHONE\n\n")
print(smart_phone.dtypes)
print("\n       REPORT\n\n")
print(report.dtypes)

       SMARTGLASS


NUM                   int64
TIMESTAMP    datetime64[ns]
ACC_X                 int64
ACC_Y                 int64
ACC_Z                 int64
GYRO_X                int64
GYRO_Y                int64
GYRO_Z                int64
EOG_L                 int64
EOG_R                 int64
EOG_H                 int64
EOG_V                 int64
dtype: object

       SMARTWATCH


index                 int64
source               object
TIMESTAMP    datetime64[ns]
values               object
dtype: object

       SMARTPHONE


index                 int64
source               object
TIMESTAMP    datetime64[ns]
values               object
dtype: object

       REPORT


index                     int64
activity_type            object
duration                 object
FROM             datetime64[ns]
TO               datetime64[ns]
comment                  object
FROM_TO                  object
dtype: object

In [8]:
report['activity_type'].value_counts()

Walk                                    29
In bus                                  19
In computer                             18
Eat                                     18
At home                                 11
Train                                    9
In vehicle                               8
Video games                              6
Meeting                                  5
Cooking                                  4
Pause                                    4
Shop                                     3
Movie                                    3
Walking&party                            2
Work                                     2
Running                                  2
Took off glasses                         1
Phone was out of the pocket (forgot)     1
Picnic                                   1
On bus stop                              1
Football                                 1
Shopping& wearing                        1
Watching TV                              1
Sleep                                    1
Name: activity_type, dtype: int64

# CREATING TIMESTAMPS FOR FINDING OUT ACTIVITIES CORRESPONDING TO THEM

In [25]:
l1=[]

def time_append(arg):
    start_time=arg[0]
    end_time=arg[1]
    temp_time=pd.date_range(start=start_time,end=end_time,freq='1min')
    #THE TIME GAP BETWEEN EACH ROWS COULD BE ADJUSTED BY CHANGING THE VALUE OF 'freq' IN ABOVE FUNCTION
    for i in temp_time:
        l1.append(i)
    return(temp_time)
t=(report['FROM_TO'].map(time_append))
df={'FROM':pd.Series(l1)}

CHECK=pd.DataFrame(df)
CHECK['TO']=CHECK['FROM']+dt.timedelta(minutes=1)
CHECK['TIMESTAMP']=CHECK['FROM']+dt.timedelta(minutes=0.5)
#REMOVING DUPLICATE ROWS
CHECK.drop_duplicates(keep='first')
CHECK['FROM_TO'] = list(zip(CHECK['FROM'], CHECK['TO']))
CHECK.drop(['FROM','TO'],axis=1,inplace=True)


#REMOVING DUPLICATE ROWS
CHECK.drop_duplicates(keep='first')


print(CHECK.shape)
print(CHECK.head(3))

(8677, 2)
            TIMESTAMP                                     FROM_TO
0 2017-07-01 21:34:30  (2017-07-01 21:34:00, 2017-07-01 21:35:00)
1 2017-07-01 21:35:30  (2017-07-01 21:35:00, 2017-07-01 21:36:00)
2 2017-07-01 21:36:30  (2017-07-01 21:36:00, 2017-07-01 21:37:00)

# Finding out the activities across the respective timestamps

In [26]:
def checkf1(arg):
    report['check']=False
    report['check']=((report['FROM']<=arg)&(report['TO']>arg))
    a=report['activity_type'][report['check']]
    a.drop_duplicates(keep='first')
    a=a.tolist()
    if(len(a)>0):
        b=a[0]
        for i in range(1,len(a)):
            b=b+"/"+a[i]
        return(b)
    return("null")

    
CHECK['activity']=CHECK['TIMESTAMP'].map(checkf1)
report.drop('check',axis=1,inplace=True)
CHECK

,TIMESTAMP,FROM_TO,activity
0,2017-07-01 21:34:30,"(2017-07-01 21:34:00, 2017-07-01 21:35:00)",Video games/At home
1,2017-07-01 21:35:30,"(2017-07-01 21:35:00, 2017-07-01 21:36:00)",Video games/At home
2,2017-07-01 21:36:30,"(2017-07-01 21:36:00, 2017-07-01 21:37:00)",Video games/At home
3,2017-07-01 21:37:30,"(2017-07-01 21:37:00, 2017-07-01 21:38:00)",Video games/At home
4,2017-07-01 21:38:30,"(2017-07-01 21:38:00, 2017-07-01 21:39:00)",Video games/At home
5,2017-07-01 21:39:30,"(2017-07-01 21:39:00, 2017-07-01 21:40:00)",Video games/At home
6,2017-07-01 21:40:30,"(2017-07-01 21:40:00, 2017-07-01 21:41:00)",Video games/At home
7,2017-07-01 21:41:30,"(2017-07-01 21:41:00, 2017-07-01 21:42:00)",Video games/At home
8,2017-07-01 21:42:30,"(2017-07-01 21:42:00, 2017-07-01 21:43:00)",Video games/At home
9,2017-07-01 21:43:30,"(2017-07-01 21:43:00, 2017-07-01 21:44:00)",Video games/At home
10,2017-07-01 21:44:30,"(2017-07-01 21:44:00, 2017-07-01 21:45:00)",Video games/At home
11,2017-07-01 21:45:30,"(2017-07-01 21:45:00, 2017-07-01 21:46:00)",Video games/At home
12,2017-07-01 21:46:30,"(2017-07-01 21:46:00, 2017-07-01 21:47:00)",Video games/At home
13,2017-07-01 21:47:30,"(2017-07-01 21:47:00, 2017-07-01 21:48:00)",Video games/At home
14,2017-07-01 21:48:30,"(2017-07-01 21:48:00, 2017-07-01 21:49:00)",Video games/At home
15,2017-07-01 21:49:30,"(2017-07-01 21:49:00, 2017-07-01 21:50:00)",Video games/At home
16,2017-07-01 21:50:30,"(2017-07-01 21:50:00, 2017-07-01 21:51:00)",Video games/At home
17,2017-07-01 21:51:30,"(2017-07-01 21:51:00, 2017-07-01 21:52:00)",Video games/At home
18,2017-07-01 21:52:30,"(2017-07-01 21:52:00, 2017-07-01 21:53:00)",Video games/At home
19,2017-07-01 21:53:30,"(2017-07-01 21:53:00, 2017-07-01 21:54:00)",Video games/At home
20,2017-07-01 21:54:30,"(2017-07-01 21:54:00, 2017-07-01 21:55:00)",Video games/At home
21,2017-07-01 21:55:30,"(2017-07-01 21:55:00, 2017-07-01 21:56:00)",Video games/At home
22,2017-07-01 21:56:30,"(2017-07-01 21:56:00, 2017-07-01 21:57:00)",Video games/At home
23,2017-07-01 21:57:30,"(2017-07-01 21:57:00, 2017-07-01 21:58:00)",Video games/At home
24,2017-07-01 21:58:30,"(2017-07-01 21:58:00, 2017-07-01 21:59:00)",Video games/At home
25,2017-07-01 21:59:30,"(2017-07-01 21:59:00, 2017-07-01 22:00:00)",Video games/At home
26,2017-07-01 22:00:30,"(2017-07-01 22:00:00, 2017-07-01 22:01:00)",Video games/At home
27,2017-07-01 22:01:30,"(2017-07-01 22:01:00, 2017-07-01 22:02:00)",Video games/At home
28,2017-07-01 22:02:30,"(2017-07-01 22:02:00, 2017-07-01 22:03:00)",Video games/At home
29,2017-07-01 22:03:30,"(2017-07-01 22:03:00, 2017-07-01 22:04:00)",Video games/At home
...,...,...,...
8647,2017-06-30 11:28:30,"(2017-06-30 11:28:00, 2017-06-30 11:29:00)",Walk
8648,2017-06-30 11:29:30,"(2017-06-30 11:29:00, 2017-06-30 11:30:00)",Walk
8649,2017-06-30 11:30:30,"(2017-06-30 11:30:00, 2017-06-30 11:31:00)",Walk
8650,2017-06-30 11:31:30,"(2017-06-30 11:31:00, 2017-06-30 11:32:00)",Walk
8651,2017-06-30 11:32:30,"(2017-06-30 11:32:00, 2017-06-30 11:33:00)",Walk
8652,2017-06-30 11:33:30,"(2017-06-30 11:33:00, 2017-06-30 11:34:00)",Walk
8653,2017-06-30 11:34:30,"(2017-06-30 11:34:00, 2017-06-30 11:35:00)",Walk
8654,2017-06-30 11:35:30,"(2017-06-30 11:35:00, 2017-06-30 11:36:00)",Walk
8655,2017-06-30 11:36:30,"(2017-06-30 11:36:00, 2017-06-30 11:37:00)",Walk
8656,2017-06-30 11:37:30,"(2017-06-30 11:37:00, 2017-06-30 11:38:00)",Walk
8657,2017-06-30 11:38:30,"(2017-06-30 11:38:00, 2017-06-30 11:39:00)",Walk
8658,2017-06-30 11:39:30,"(2017-06-30 11:39:00, 2017-06-30 11:40:00)",Walk
8659,2017-06-30 11:40:30,"(2017-06-30 11:40:00, 2017-06-30 11:41:00)",Walk
8660,2017-06-30 11:41:30,"(2017-06-30 11:41:00, 2017-06-30 11:42:00)",Walk
8661,2017-06-30 11:42:30,"(2017-06-30 11:42:00, 2017-06-30 11:43:00)",Train
8662,2017-06-30 10:54:30,"(2017-06-30 10:54:00, 2017-06-30 10:55:00)",Eat
8663,2017-06-30 10:55:30,"(2017-06-30 10:55:00, 2017-06-30 10:56:00)",Eat
8664,2017-06-30 10:56:30,"(2017-06-30 10:56:00, 2017-06-30 10:57:00)",Eat
8665,2017-06-30 10:57:30,"(2017-06-30 10:57:00, 2017-06-30 10:58:00)",Eat
8666,2017-06-30 10:58:30,"(2017-06-30 10:58:00, 2017-06-30 10:59:00)",Eat
8667,2017-06-30 10:59:30,"(2017-06-30 10:59:00, 2017-06-30 11:00:00)",Eat
8668,2017-06-30 11:00:30,"(2017-06-30 11:00:00, 2017-06-30 11:01:00)",Eat
8669,2017-06-30 11:01:30,"(2017-06-30 11:01:00, 2017-06-30 11:02:00)",Eat
8670,2017-06-30 11:02:30,"(2017-06-30 11:02:00, 2017-06-30 11:03:00)",Eat
8671,2017-06-30 11:03:30,"(2017-06-30 11:03:00, 2017-06-30 11:04:00)",Eat
8672,2017-06-30 11:04:30,"(2017-06-30 11:04:00, 2017-06-30 11:05:00)",Eat
8673,2017-06-30 11:05:30,"(2017-06-30 11:05:00, 2017-06-30 11:06:00)",Eat
8674,2017-06-30 11:06:30,"(2017-06-30 11:06:00, 2017-06-30 11:07:00)",Eat
8675,2017-06-30 11:07:30,"(2017-06-30 11:07:00, 2017-06-30 11:08:00)",Eat
8676,2017-06-30 11:08:30,"(2017-06-30 11:08:00, 2017-06-30 11:09:00)",null

In [27]:
CHECK.sort_values('TIMESTAMP',inplace=True)
CHECK.drop_duplicates()

,TIMESTAMP,FROM_TO,activity
7632,2017-06-29 09:57:30,"(2017-06-29 09:57:00, 2017-06-29 09:58:00)",Eat
7633,2017-06-29 09:58:30,"(2017-06-29 09:58:00, 2017-06-29 09:59:00)",Eat
7634,2017-06-29 09:59:30,"(2017-06-29 09:59:00, 2017-06-29 10:00:00)",Eat
7635,2017-06-29 10:00:30,"(2017-06-29 10:00:00, 2017-06-29 10:01:00)",Eat
7636,2017-06-29 10:01:30,"(2017-06-29 10:01:00, 2017-06-29 10:02:00)",Eat
7637,2017-06-29 10:02:30,"(2017-06-29 10:02:00, 2017-06-29 10:03:00)",Eat
7638,2017-06-29 10:03:30,"(2017-06-29 10:03:00, 2017-06-29 10:04:00)",Eat
7639,2017-06-29 10:04:30,"(2017-06-29 10:04:00, 2017-06-29 10:05:00)",Eat
7640,2017-06-29 10:05:30,"(2017-06-29 10:05:00, 2017-06-29 10:06:00)",Eat
7641,2017-06-29 10:06:30,"(2017-06-29 10:06:00, 2017-06-29 10:07:00)",Eat
7642,2017-06-29 10:07:30,"(2017-06-29 10:07:00, 2017-06-29 10:08:00)",Eat
7643,2017-06-29 10:08:30,"(2017-06-29 10:08:00, 2017-06-29 10:09:00)",Eat
7644,2017-06-29 10:09:30,"(2017-06-29 10:09:00, 2017-06-29 10:10:00)",Eat
7645,2017-06-29 10:10:30,"(2017-06-29 10:10:00, 2017-06-29 10:11:00)",Eat
7646,2017-06-29 10:11:30,"(2017-06-29 10:11:00, 2017-06-29 10:12:00)",Eat
7647,2017-06-29 10:12:30,"(2017-06-29 10:12:00, 2017-06-29 10:13:00)",Eat
7648,2017-06-29 10:13:30,"(2017-06-29 10:13:00, 2017-06-29 10:14:00)",Eat
7649,2017-06-29 10:14:30,"(2017-06-29 10:14:00, 2017-06-29 10:15:00)",Eat
7650,2017-06-29 10:15:30,"(2017-06-29 10:15:00, 2017-06-29 10:16:00)",Eat
7651,2017-06-29 10:16:30,"(2017-06-29 10:16:00, 2017-06-29 10:17:00)",Eat
7652,2017-06-29 10:17:30,"(2017-06-29 10:17:00, 2017-06-29 10:18:00)",null
7610,2017-06-29 10:46:30,"(2017-06-29 10:46:00, 2017-06-29 10:47:00)",In vehicle
7611,2017-06-29 10:47:30,"(2017-06-29 10:47:00, 2017-06-29 10:48:00)",In vehicle
7612,2017-06-29 10:48:30,"(2017-06-29 10:48:00, 2017-06-29 10:49:00)",In vehicle
7613,2017-06-29 10:49:30,"(2017-06-29 10:49:00, 2017-06-29 10:50:00)",In vehicle
7614,2017-06-29 10:50:30,"(2017-06-29 10:50:00, 2017-06-29 10:51:00)",In vehicle
7615,2017-06-29 10:51:30,"(2017-06-29 10:51:00, 2017-06-29 10:52:00)",In vehicle
7616,2017-06-29 10:52:30,"(2017-06-29 10:52:00, 2017-06-29 10:53:00)",In vehicle
7617,2017-06-29 10:53:30,"(2017-06-29 10:53:00, 2017-06-29 10:54:00)",In vehicle
7618,2017-06-29 10:54:30,"(2017-06-29 10:54:00, 2017-06-29 10:55:00)",In vehicle
...,...,...,...
6558,2017-07-12 21:22:30,"(2017-07-12 21:22:00, 2017-07-12 21:23:00)",Video games
6559,2017-07-12 21:23:30,"(2017-07-12 21:23:00, 2017-07-12 21:24:00)",Video games
6560,2017-07-12 21:24:30,"(2017-07-12 21:24:00, 2017-07-12 21:25:00)",Video games
6561,2017-07-12 21:25:30,"(2017-07-12 21:25:00, 2017-07-12 21:26:00)",Video games
6562,2017-07-12 21:26:30,"(2017-07-12 21:26:00, 2017-07-12 21:27:00)",Video games
6563,2017-07-12 21:27:30,"(2017-07-12 21:27:00, 2017-07-12 21:28:00)",Video games
6564,2017-07-12 21:28:30,"(2017-07-12 21:28:00, 2017-07-12 21:29:00)",Video games
6565,2017-07-12 21:29:30,"(2017-07-12 21:29:00, 2017-07-12 21:30:00)",Video games
6566,2017-07-12 21:30:30,"(2017-07-12 21:30:00, 2017-07-12 21:31:00)",Video games
6567,2017-07-12 21:31:30,"(2017-07-12 21:31:00, 2017-07-12 21:32:00)",Video games
6568,2017-07-12 21:32:30,"(2017-07-12 21:32:00, 2017-07-12 21:33:00)",Video games
6569,2017-07-12 21:33:30,"(2017-07-12 21:33:00, 2017-07-12 21:34:00)",Video games
6570,2017-07-12 21:34:30,"(2017-07-12 21:34:00, 2017-07-12 21:35:00)",Video games
6571,2017-07-12 21:35:30,"(2017-07-12 21:35:00, 2017-07-12 21:36:00)",Video games
6572,2017-07-12 21:36:30,"(2017-07-12 21:36:00, 2017-07-12 21:37:00)",Video games
6573,2017-07-12 21:37:30,"(2017-07-12 21:37:00, 2017-07-12 21:38:00)",Video games
6574,2017-07-12 21:38:30,"(2017-07-12 21:38:00, 2017-07-12 21:39:00)",Video games
6575,2017-07-12 21:39:30,"(2017-07-12 21:39:00, 2017-07-12 21:40:00)",Video games
6576,2017-07-12 21:40:30,"(2017-07-12 21:40:00, 2017-07-12 21:41:00)",Video games
6577,2017-07-12 21:41:30,"(2017-07-12 21:41:00, 2017-07-12 21:42:00)",Video games
6578,2017-07-12 21:42:30,"(2017-07-12 21:42:00, 2017-07-12 21:43:00)",Video games
6579,2017-07-12 21:43:30,"(2017-07-12 21:43:00, 2017-07-12 21:44:00)",Video games
6580,2017-07-12 21:44:30,"(2017-07-12 21:44:00, 2017-07-12 21:45:00)",Video games
6581,2017-07-12 21:45:30,"(2017-07-12 21:45:00, 2017-07-12 21:46:00)",Video games
6582,2017-07-12 21:46:30,"(2017-07-12 21:46:00, 2017-07-12 21:47:00)",Video games
6583,2017-07-12 21:47:30,"(2017-07-12 21:47:00, 2017-07-12 21:48:00)",Video games
6584,2017-07-12 21:48:30,"(2017-07-12 21:48:00, 2017-07-12 21:49:00)",Video games
6585,2017-07-12 21:49:30,"(2017-07-12 21:49:00, 2017-07-12 21:50:00)",Video games
6586,2017-07-12 21:50:30,"(2017-07-12 21:50:00, 2017-07-12 21:51:00)",Video games
6587,2017-07-12 21:51:30,"(2017-07-12 21:51:00, 2017-07-12 21:52:00)",null

In [12]:
# l=[]
# def append1(arg):
#     if(len(l)==0):
#         l.append(arg)
#         return(0)
#     else:
#         if(arg!=l[len(l)-1]):
#             l.append(arg)
#             return(1)
#         else:
#             return(2)
# CHECK['TEMP']=CHECK['activity'].map(append1)
# CHECK.drop(['TEMP','TIMESTAMP'],axis=1,inplace=True)
# print(len(l))
# l

267

['Eat',
 'null',
 'In vehicle',
 'null',
 'Walk',
 'Shop/Walk',
 'Took off glasses/Shop/Walk',
 'Shop/Walk',
 'Walk',
 'On bus stop/Walk',
 'On bus stop',
 'In bus',
 'null',
 'At home',
 'Eat/At home',
 'At home',
 'null',
 'In bus',
 'null',
 'Walking&party',
 'null',
 'In bus',
 'null',
 'Running',
 'null',
 'Eat',
 'null',
 'Walk',
 'Train',
 'Walk',
 'null',
 'Work',
 'In computer/Work',
 'Work',
 'In computer/Work',
 'Walk',
 'Shop',
 'Walk',
 'null',
 'Work',
 'null',
 'Walk',
 'null',
 'Train',
 'Walk',
 'At home/Eat',
 'At home',
 'null',
 'In bus',
 'Walk',
 'Meeting',
 'null',
 'Train',
 'null',
 'Walking&party',
 'null',
 'Sleep',
 'null',
 'Eat',
 'null',
 'In computer',
 'null',
 'Eat',
 'null',
 'In computer',
 'At home',
 'In computer/At home',
 'At home',
 'Video games/At home',
 'At home',
 'null',
 'In vehicle',
 'null',
 'In vehicle',
 'null',
 'Picnic ',
 'null',
 'In vehicle',
 'null',
 'At home',
 'In computer/At home',
 'At home',
 'In computer/At home',
 'At home',
 'In computer/At home',
 'At home',
 'Watching TV/At home',
 'Eat/Watching TV/At home',
 'Watching TV/At home',
 'At home',
 'null',
 'In computer/At home',
 'At home',
 'Video games/At home',
 'At home',
 'Eat/At home',
 'At home',
 'Walk',
 'At home',
 'Phone was out of the pocket (forgot)/At home',
 'Eat/Phone was out of the pocket (forgot)/At home',
 'Phone was out of the pocket (forgot)/At home',
 'At home',
 'Video games/At home',
 'At home',
 'Running/At home',
 'Walk/At home',
 'At home',
 'null',
 'Walk',
 'null',
 'Train',
 'Walk',
 'null',
 'In computer',
 'null',
 'In computer',
 'null',
 'Walk',
 'Train',
 'Walk',
 'At home',
 'Eat/At home',
 'At home',
 'null',
 'Train',
 'Walk',
 'Meeting',
 'null',
 'In computer',
 'null',
 'Walk',
 'null',
 'Train',
 'null',
 'In bus',
 'null',
 'Cooking',
 'Eat',
 'null',
 'Walk',
 'null',
 'Walk',
 'null',
 'In vehicle',
 'null',
 'In vehicle',
 'null',
 'In bus',
 'Walk',
 'null',
 'In bus',
 'null',
 'In bus',
 'null',
 'Walk',
 'null',
 'Meeting',
 'null',
 'In bus',
 'null',
 'Cooking',
 'null',
 'Eat',
 'null',
 'Walk',
 'null',
 'Movie',
 'null',
 'Eat',
 'null',
 'Video games',
 'null',
 'Movie',
 'null',
 'Pause',
 'null',
 'In computer',
 'null',
 'In computer/Eat',
 'In computer',
 'null',
 'In bus',
 'null',
 'In bus',
 'null',
 'In vehicle',
 'null',
 'Football',
 'null',
 'Pause',
 'At home',
 'null',
 'In bus',
 'Walk',
 'null',
 'Train',
 'null',
 'Walk',
 'null',
 'Meeting',
 'null',
 'In computer',
 'null',
 'Walk',
 'null',
 'Train',
 'Walk',
 'null',
 'In bus',
 'null',
 'At home',
 'Walk',
 'At home',
 'Eat/At home',
 'At home',
 'null',
 'In bus',
 'Walk',
 'Shop',
 'null',
 'Walk',
 'null',
 'In bus',
 'null',
 'At home',
 'In computer/At home',
 'At home',
 'Video games/At home',
 'At home',
 'null',
 'Cooking',
 'null',
 'Eat',
 'null',
 'Pause',
 'null',
 'In bus',
 'null',
 'Shopping& wearing',
 'null',
 'In bus',
 'null',
 'Movie',
 'null',
 'In computer',
 'null',
 'Pause',
 'null',
 'Eat/In computer',
 'In computer',
 'null',
 'Cooking',
 'null',
 'Eat',
 'null',
 'In bus',
 'Walk',
 'null',
 'Meeting',
 'null',
 'In vehicle',
 'null',
 'In bus',
 'null',
 'Video games',
 'null']

In [29]:
CHECK['TEMP'] = list(zip(CHECK['FROM_TO'], CHECK['activity']))
CHECK.head()

,TIMESTAMP,FROM_TO,activity,TEMP
7632,2017-06-29 09:57:30,"(2017-06-29 09:57:00, 2017-06-29 09:58:00)",Eat,"((2017-06-29 09:57:00, 2017-06-29 09:58:00), Eat)"
7633,2017-06-29 09:58:30,"(2017-06-29 09:58:00, 2017-06-29 09:59:00)",Eat,"((2017-06-29 09:58:00, 2017-06-29 09:59:00), Eat)"
7634,2017-06-29 09:59:30,"(2017-06-29 09:59:00, 2017-06-29 10:00:00)",Eat,"((2017-06-29 09:59:00, 2017-06-29 10:00:00), Eat)"
7635,2017-06-29 10:00:30,"(2017-06-29 10:00:00, 2017-06-29 10:01:00)",Eat,"((2017-06-29 10:00:00, 2017-06-29 10:01:00), Eat)"
7636,2017-06-29 10:01:30,"(2017-06-29 10:01:00, 2017-06-29 10:02:00)",Eat,"((2017-06-29 10:01:00, 2017-06-29 10:02:00), Eat)"

# Making it into the report format

In [30]:
F=[]
T=[]
A=[]

def append2(arg):
    if(len(A)>0):
        if(arg[1]!=A[len(A)-1]):
            F.append(arg[0][0])
            A.append(arg[1])
            T.append(arg[0][1])
            return(1)
        else:
            T[len(T)-1]=arg[0][1]
            return(2)
    else:
        F.append(arg[0][0])
        A.append(arg[1])
        T.append(arg[0][1])
        return(0)
CHECK['TEMP1']=CHECK['TEMP'].map(append2)
CHECK.drop(['TEMP1'],axis=1,inplace=True)
report.drop('FROM_TO',axis=1,inplace=True)

print(len(A),len(F),len(T))

267 267 267

In [42]:
def splitf(arg):
    a=arg.split(" ")[2]
    return(a[3:8])

df={'FROM':pd.Series(F),'TO':pd.Series(T),'activity':pd.Series(A)}
final_report=pd.DataFrame(df)
final_report=final_report[final_report['activity']!='null']
final_report['DURATION']=final_report['TO']-final_report['FROM']

final_report['DURATION']=final_report['DURATION'].astype(str)
final_report['DURATION']=final_report['DURATION'].map(splitf)


# ..split(" ")[2])
final_report.to_csv("final_report.csv",sep=",")
final_report

,FROM,TO,activity,DURATION
0,2017-06-29 09:57:00,2017-06-29 10:17:00,Eat,20:00
2,2017-06-29 10:46:00,2017-06-29 11:07:00,In vehicle,21:00
4,2017-06-29 11:09:00,2017-06-29 12:12:00,Walk,03:00
5,2017-06-29 12:12:00,2017-06-29 12:21:00,Shop/Walk,09:00
6,2017-06-29 12:21:00,2017-06-29 12:29:00,Took off glasses/Shop/Walk,08:00
7,2017-06-29 12:29:00,2017-06-29 12:40:00,Shop/Walk,11:00
8,2017-06-29 12:40:00,2017-06-29 12:44:00,Walk,04:00
9,2017-06-29 12:44:00,2017-06-29 13:01:00,On bus stop/Walk,17:00
10,2017-06-29 13:01:00,2017-06-29 13:02:00,On bus stop,01:00
11,2017-06-29 13:02:00,2017-06-29 13:24:00,In bus,22:00
13,2017-06-29 13:28:00,2017-06-29 13:36:00,At home,08:00
14,2017-06-29 13:36:00,2017-06-29 13:44:00,Eat/At home,08:00
15,2017-06-29 13:44:00,2017-06-29 16:07:00,At home,23:00
17,2017-06-29 16:12:00,2017-06-29 16:44:00,In bus,32:00
19,2017-06-29 16:45:00,2017-06-29 21:22:00,Walking&party,37:00
21,2017-06-29 21:24:00,2017-06-29 21:36:00,In bus,12:00
23,2017-06-29 21:59:00,2017-06-29 22:20:00,Running,21:00
25,2017-06-30 10:54:00,2017-06-30 11:08:00,Eat,14:00
27,2017-06-30 11:27:00,2017-06-30 11:42:00,Walk,15:00
28,2017-06-30 11:42:00,2017-06-30 12:04:00,Train,22:00
29,2017-06-30 12:04:00,2017-06-30 12:12:00,Walk,08:00
31,2017-06-30 12:20:00,2017-06-30 12:21:00,Work,01:00
32,2017-06-30 12:21:00,2017-06-30 13:48:00,In computer/Work,27:00
33,2017-06-30 13:48:00,2017-06-30 14:04:00,Work,16:00
34,2017-06-30 14:04:00,2017-06-30 15:19:00,In computer/Work,15:00
35,2017-06-30 15:19:00,2017-06-30 15:24:00,Walk,05:00
36,2017-06-30 15:24:00,2017-06-30 15:34:00,Shop,10:00
37,2017-06-30 15:34:00,2017-06-30 15:39:00,Walk,05:00
39,2017-06-30 15:41:00,2017-06-30 16:32:00,Work,51:00
41,2017-06-30 16:34:00,2017-06-30 16:41:00,Walk,07:00
...,...,...,...,...
215,2017-07-10 17:27:00,2017-07-10 17:34:00,At home,07:00
217,2017-07-10 17:36:00,2017-07-10 17:40:00,In bus,04:00
218,2017-07-10 17:40:00,2017-07-10 17:45:00,Walk,05:00
219,2017-07-10 17:45:00,2017-07-10 18:01:00,Shop,16:00
221,2017-07-10 18:03:00,2017-07-10 18:07:00,Walk,04:00
223,2017-07-10 18:09:00,2017-07-10 18:13:00,In bus,04:00
225,2017-07-10 18:14:00,2017-07-10 18:42:00,At home,28:00
226,2017-07-10 18:42:00,2017-07-10 20:00:00,In computer/At home,18:00
227,2017-07-10 20:00:00,2017-07-10 20:44:00,At home,44:00
228,2017-07-10 20:44:00,2017-07-10 21:08:00,Video games/At home,24:00
229,2017-07-10 21:08:00,2017-07-10 23:00:00,At home,52:00
231,2017-07-11 12:43:00,2017-07-11 13:14:00,Cooking,31:00
233,2017-07-11 13:15:00,2017-07-11 13:34:00,Eat,19:00
235,2017-07-11 14:10:00,2017-07-11 14:31:00,Pause,21:00
237,2017-07-11 15:10:00,2017-07-11 15:29:00,In bus,19:00
239,2017-07-11 15:38:00,2017-07-11 17:21:00,Shopping& wearing,43:00
241,2017-07-11 17:26:00,2017-07-11 18:05:00,In bus,39:00
243,2017-07-11 21:36:00,2017-07-11 23:16:00,Movie,40:00
245,2017-07-12 12:23:00,2017-07-12 12:27:00,In computer,04:00
247,2017-07-12 12:28:00,2017-07-12 13:04:00,Pause,36:00
249,2017-07-12 13:24:00,2017-07-12 13:39:00,Eat/In computer,15:00
250,2017-07-12 13:39:00,2017-07-12 14:12:00,In computer,33:00
252,2017-07-12 14:45:00,2017-07-12 15:19:00,Cooking,34:00
254,2017-07-12 15:58:00,2017-07-12 16:04:00,Eat,06:00
256,2017-07-12 16:12:00,2017-07-12 16:40:00,In bus,28:00
257,2017-07-12 16:40:00,2017-07-12 16:55:00,Walk,15:00
259,2017-07-12 17:00:00,2017-07-12 18:21:00,Meeting,21:00
261,2017-07-12 18:22:00,2017-07-12 18:27:00,In vehicle,05:00
263,2017-07-12 18:39:00,2017-07-12 19:10:00,In bus,31:00
265,2017-07-12 21:09:00,2017-07-12 21:51:00,Video games,42:00

In [1]:
final_report.activity.value_counts()

NameError: name 'final_report' is not defined

In [ ]:
len(final_report)